:root {
  --white: #fff;
  --waterloo: #7b7b93;
  --cape-cod: #393e41;
  --dodger-blue: #1e96fc;
  --azure-radiance: #0381ec;
  --hawkes-blue: #d9effc;
  --silver: #cccccc;
  --concrete: #f2f2f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
