.buttonStyle {
    border-radius: 10px;
    background-color: var(--white);
    border: none;
    padding: 5px 10px;
}

.buttonWrapper {
    display: flex;
    align-items: center;
}

.deleteWrapper {
    margin-left: 5px;
    border: none;
    background: var(--hawkes-blue);
}

.itemWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemAlignment {
    border: 0;
    display: flex;
    background-color: var(--white);
    width: 100%;
    justify-content: space-between;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .4s;
}

.itemAlignment:hover {
    background-color: var(--concrete);
}

.firstBox {
    background-color: transparent;
    color: var(--cape-cod);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
}

.secondBox {
    background-color: var(--hawkes-blue);
    color: var(--dodger-blue);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
}

.thirdBox {
    background-color: var(--hawkes-blue);
    color: var(--dodger-blue);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

